
h1{
    font-size: 30px;
}
h3{
    font-size: 16px; 
}
h4{
    font-size: 14px;
}
#header{
    color:aliceblue;
    background-color: rgb(27, 94, 94);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#body{
    background-color: aliceblue;
    color:rgb(27, 94, 94);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
table,th,td{
    border-collapse: collapse;
    padding:10px;
    width: 100%;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
 }
